[submodule "x264"]
	path = Project/jni/x264
	url = git://git.videolan.org/x264.git
[submodule "ffmpeg"]
	path = Project/jni/ffmpeg
	url = git://git.videolan.org/ffmpeg.git
[submodule "Project/jni/openssl-android"]
	path = Project/jni/openssl-android
	url = https://github.com/bennyk/openssl-android
[submodule "Project/jni/rtmpdump"]
	path = Project/jni/rtmpdump
	url = https://github.com/bennyk/rtmpdump 
